<div class="segmemt-box" style="width: 12rem">
  <div class="segment-title pl-5" ng-click="OnAddSegment()">{{AddSegment}}</div>
</div>
<!-- <div class="segmemt-box" style="width: 12rem">
  <div class="segment-title pl-5" ng-click="OnAddExercise()">{{AddExercise}}</div>
</div> -->
<div class="container my-4">
  <div class="row text-center">
    <div class="col p-3">
      <div class="segment-box">
        <h1>
          Exercise

          <sup
            ><span class="badge-font-size badge bg-danger"
              >{{TaskCount}}</span
            ></sup
          >
        </h1>
        <div class="search">
          <input type="text" placeholder=" new Task" ng-model="NewTask" />
          <span ng-click="PostTask()"><i class="fa fa-plus"></i></span>
        </div>
        <ul>
          <li ng-repeat="task in Tasks" class="task-list">
            {{task}} <i ng-click="DeleteTask($index)" class="fa fa-trash"></i>
          </li>
        </ul>
        <p>{{errortext}}</p>
      </div>
    </div>
  </div>
</div>
