
@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jsFile/App.js"></script>
    <link href="~/Content/css/card.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body ng-app="myApp" ng-controller="myController">
    <h2>index module</h2>
    <div class="row">
        <div class=" col-lg-4 card" ng-repeat="module in data">
            <h1>{{module.moduleName}}</h1>
            <p class="title">{{module.moduleDescription}}</p>
            <p>Exercise: {{module.Exercises.length}}</p>
            <a href="#"><i class="fa fa-trash"></i></a>
            <a href="#"><i class="fa fa-edit"></i></a>
            <p><button>Open Module</button></p>
        </div>
    
    </div>
    
</body>
</html>


