:root {
    --bg-nav-color: rgb(57, 59, 180);
    --nav-text-color: #fff;
    --segemnt-color: rgb(184, 74, 248);
    --text-red: #ff0000;
}

.pointer{
    cursor: pointer;
}

.cr_container-box {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


.cr_left {
    left: -5rem;
}

    .cr_left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent rgb(23, 42, 69);
    }

.career-content-box {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    background-color: rgb(23, 42, 69);
}

    .career-content-box h1 {
        color: rgb(204, 214, 246);
        display: inline;
        padding: 5px 15px;
        border-radius: 5px;
        background: black;
        font-size: 12px;
    }

        .career-content-box h1::before {
            content: " ";
            height: 2.3rem;
            position: absolute;
            top: 2rem;
            border-radius: 5px 0px 0px 5px;
            width: 0px;
            z-index: 1;
            left: 3rem;
            border: medium solid rgb(42, 42, 42);
            border-color: #fff;
        }

    .career-content-box p {
        color: rgb(168, 178, 209);
        margin-top: 10px;
    }
.float-btn {
    cursor: pointer;
    padding: 5px;
    position: relative;
    top: 30%;
    color: #fff;
    z-index: 1;
    left: 30%;
}
