/* app css stylesheet */
:root {
  --bg-nav-color: rgb(57, 59, 180);
  --nav-text-color: #fff;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.bg-navbar {
  background-color: var(--bg-nav-color);
}
.bg-navbar a {
  color: var(--nav-text-color) !important;
  margin: auto 1rem;
}
