:root {
	--bg-nav-color: rgb(57, 59, 180);
	--nav-text-color: #fff;
	--segemnt-color: rgb(184, 74, 248);
	--text-red: #ff0000;
	--text-black: #000;
	--module-color: #1c6ba8;
}

.pointer {
	cursor: pointer;
}
.active-block{
	background: rgb(184, 74, 248);
	color: #fff;
}
/*.active-block .discription-box{
	color: #fff;
}*/
	.Active {
		display: block;
		background: #eee;
	}
.tasks{
	background: #f8f8f8;
}
a, a:hover{
	color: inherit;
}

.inActive{
	display: none;
}


ul{
	margin: 0 ;
}

.list-group .title{
	font-size: 22px;
	font-weight: 600;
	color: var(--module-color);
}
.option-btn,.create-btn {
	float: right;
}
.option-btn >i{
	padding: 0 10px;
	font-size: 25px;
}
.create-btn .manupulate-btn{
	margin: 0.5em;
}

.discription-box{
	font-size: 15px;
	margin-left: 2.5em;
}
.discription-box i {
	font-size: 10px;
	position: relative;
	top: -2px;
	color: var(--text-black);
}


.title-box{
	font-size: 32px;
	font-family:'Times New Roman', Times, serif;
	text-align: center;
}

.form-box {
	text-align: end;
	margin: 16px 0;
	font-weight: 700;
}

input[type="search"] {
	width: 10em;
	border: transparent;
	margin-top: .8em;
	padding: 2px 5px;
	border-bottom: 2px solid purple !important;
	outline: none;
}

/*.main-menu {
	width: 100%;
	display: block;
	border-radius: 8px;
	overflow: hidden;
	margin: auto;*/
/*	border: 2px solid grey;*/
/*	padding: 1em;*/
/*}

@media (max-width: 315px) {
	.main-menu {
		width: 15em;
	}
}

@media (max-width: 285px) {
	.main-menu {
		width: 12em;
	}
}

.item-c {
	border-top: 5px solid rgb(164, 194, 219);
	overflow: hidden;
	border-radius: 10px;
}

.profile-btn {
	display:block;
	padding: 16px 20px;
	background: var(--module-color);
	color: #fff;
	position: relative;
}

.profile-btn:before {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	background: var(--module-color);
	left: 20px;
	bottom: -7px;
	transform: rotate(45deg);
}

.profile-btn i {
	margin-right: 10px;
}

.sub-menu {
	background: #eee;
	overflow: hidden;
	transition: max-height 0.3s;
	max-height: 0;
}

.item-c:target .sub-menu {
	transition: 2s ease-in-out;
	max-height: 100em !important;
}

.sub-menu a i {
	color: #000;
	font-weight: bolder;
	font-size: 15px !important;
}


.sub-menu a.sub-menu-text {
	color: black;
	font-weight: 500;
	margin-top: 35px;
}

.sub-menu a.sub-menu-text i {
	color: var(--module-color);
	font-weight: 500;
	font-size: 12px;
	text-align: center;
}

.sub-menu-exception {
	background: #fff;
	overflow: hidden;
	min-height: 5em;
}

.sub-menu-exception a i {
	color: #000;
	margin: 14px 14px;
}

.sub-menu a:first-child, 
.sub-menu-btn {*/
	/* color: #fff; */
	/*display: block;
	float: right;
	padding: 0 0.1em 0.5em 0;
	position: relative;
	font-size: 14px;
}
.sub-menu-btn {
	margin-top: 5px;
	margin-right: 5px;
}
.sub-menu-btn i{
	padding: 0 5px;
	font-weight: bolder;
	cursor:pointer;
	font-size: 25px;
}

.sub-menu .exception-link i {
	position: relative;
	display: block;
	padding: 0 0.8em 0.5em 0;
}

.sub-menu a:first-child:before {
	content: "";
	position: absolute;
	background: none;
}

.sub-menu a {
	color: #fff;
	display: block;
	padding: 16px 15px;
	position: relative;
	margin: 4px 0;
	font-size: 14px;
}

.sub-menu a:before {
	content: "";
	position: absolute;
	width: 6px;
	height: 100%;
	background: #c4e1f5;
	left: 0;
	top: 0;
	transition: 0.3s ease;
	opacity: 0;
}

.sub-menu a:hover:before {
	opacity: 1;
}

.item-c a.profile-btn:hover {
	color: rgb(164, 194, 219);
}*/

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.nestedDemo .dropzone ul[dnd-list] {
	margin: 0px;
	min-height: 42px;
	padding-left: 0px;
}

.nestedDemo .dropzone li {
	background-color: #fff;
	border: 1px solid #ddd;
	display: block;
	padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.nestedDemo .dropzone .dndDragging {
	opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.nestedDemo .dropzone .dndDraggingSource {
	display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.nestedDemo .dropzone .dndPlaceholder {
	background-color: #ddd;
	display: block;
	min-height: 42px;
}

/***************************** Element Selection *****************************/

.nestedDemo .dropzone .selected .item {
	color: #3c763d;
	background-color: #dff0d8;
}

.nestedDemo .dropzone .selected .box {
	border-color: #d6e9c6;
}

	.nestedDemo .dropzone .selected .box > h3 {
		background-color: #dff0d8;
		background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
		border-color: #d6e9c6;
		color: #3c763d;
	}

/***************************** Element type specific styles *****************************/

.nestedDemo .dropzone .item {
	padding: 10px 15px;
}

.nestedDemo .dropzone .container-element {
	margin: 10px;
}

	.nestedDemo .dropzone .container-element .column {
		float: left;
		width: 50%;
	}

/***************************** Toolbox *****************************/

.nestedDemo .toolbox ul {
	cursor: move;
	list-style: none;
	padding-left: 0px;
}

.nestedDemo .toolbox button {
	margin: 5px;
	opacity: 1.0;
	width: 123px;
}

.nestedDemo .toolbox .dndDragging {
	opacity: 0.5;
}

.nestedDemo .toolbox .dndDraggingSource {
	opacity: 1.0;
}

/***************************** Trashcan *****************************/

.nestedDemo .trashcan ul {
	list-style: none;
	padding-left: 0px;
}

.nestedDemo .trashcan img {
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.nestedDemo .trashcan .dndDragover img {
	width: 100%;
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
}

.nestedDemo .trashcan .dndPlaceholder {
	display: none;
}